header {
    background-image: url('things.png');
    background-size: cover;
    height: 240px;
    text-align: right;
    padding-right: 10px;
    position: relative;
}

p.update {
    color: #777;
    position: relative;
    top: 15px;
}
a.project-repo {
    padding-left: 1.3em;
}
main{
    width: 60%;
    margin: 40px auto;
}
@media(max-width: 800px){
    main{
        width: auto;
        margin: 40px 10px;
    }
}
section > h2, main > h2 {
    margin-top: 34px;
    margin-bottom: 20px;
}
h2 {
    color: #143f46;
}
h3 {
    color: #137d8e;
    font-size: 1.6rem;
}
h4 {
    color: #17a2b8;
}
h5 {
    color: #6498a0;
}
li {
    margin: 0.4em 0;
}

img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.case {
    padding: 5px 12px;
    margin: 20px auto 18px 5px;
    border-left: 4px solid #b3dce2;
    background: #f9f9f9;
}
code {
    padding: 1px 3px;
    background: #f4f4f4;
}
code,
code a, code a:visited,
a code, a:visited code {
    color: #379a7f
}
code a, a code { text-decoration: underline ;}

pre {
    padding: 4px 10px;
    background: #f4f4f4;
    font-weight: bold;
}
.case pre {
    background: #e8e8e8;
}
.elt-name {
    color: #379a7f;
}
.elt-name.jimetevenardcomnsgeneratexsl {
    color: #078ada;
}
.attr {
    color: #c50c0c;
}
.attr.generate,
.elt-name.jimetevenardcomnsgeneratexsl .attr{
    color: #f7990c;
}
.attr-value {
    color: #009;
}
.comment {
    color: hotpink;
}

.namespace-ref {
    position: relative;
}
.namespace-ref code.uri {
    position: absolute;
    width: 250%;
    display: none;
    left: 0;
    bottom: 1.1em;
}
.namespace-ref:hover code.uri{
    display: inline;
}
.langNode {
    margin: 10px 0;
}
.langNode.tiny {
    margin: 0;
}

.langNode h1 {
    font-size: 1.5rem;
}
.langNode h2 {
    font-size: 1.4rem;
}
.langNode h3 {
    font-size: 1.2rem;
}
.langNode h4, h5, h6 {
    font-size: 1.1rem;
}


section section {
    margin: 40px 0 15px;
}

img {
    max-width: 100%;
}